@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;600;700&family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hind Vadodara', sans-serif;
  background-color: #f7fafc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chivo', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Enebles nest night mode??? */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
